body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/050/135/original/beach.jpg?1666744406);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Poppins',sans-serif;
  text-transform: capitalize;
}
a, #footer, hr {
text-decoration: none;
color: #989ca0;

}

#search-button {
border: 1px solid #989ca0;
}

#city, #conditions, #cityTimeDate {
  color:#24242b;
  list-style: none;
  margin-top: 5px;
  padding: 0;
}

#city {
  font-size: 30px;
  line-height:33px;
  margin-left: 10px;
}

#date, #temperature {
  font-size: 24px;
  line-height: 28px;
  margin-left: 10px;
}

#conditions {
  font-size: 16px;
  line-height: 19px;
}

#icon {
  width: 42px;
  line-height: 42px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30 auto;
}

.weather-app {
  padding: 20px;
  margin-top: 30px;
  border: 2px solid #989ca0;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #0d2a47;
}

.weather-forecast {
  font-size: 14px;
}

.weather-forecast-temps {
  font-size: 12px;
}