body {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/050/135/original/beach.jpg?1666744406);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

.weather-app {
  max-width: 600px;
  margin: 30 auto;
  padding: 20px;
  border: 2px solid #989ca0;
  border-radius: 5px;
}
#search-button {
border: 1px solid #989ca0;
padding: 48px 38px;
}

#city, #conditions {
  color:#24242b;
  list-style: none;
}

